<div class="cart-container">
        <div class="cart-panel" *ngIf="cart.length !== 0">
            <div class="cart-item" *ngFor="let item of cart">
                <img src="{{item.item.url}}" alt="{{item.item.name}}">
                <div class="cart-item-details ">
                    <h2>{{item.item.name}}</h2>
                    <p>${{item.item.price}}</p>
                <label for="quantity">Amount: </label>
                    <input 
                        type="number" 
                        min="0" 
                        max="10" 
                        value="{{item.quantity}}" 
                        id="quantity" 
                        class="number-input" 
                        [(ngModel)]="item.quantity" 
                        (change)="calculateTotal(); updateCart(item)"
                    >
                </div>
                
            </div>

            <h2 (ngModelChange)="total">Total: ${{ total }}</h2>
        </div>


        <form #form="ngForm" class="form-margin" *ngIf="cart.length !== 0" (ngSubmit)="submitOrder()">
            <label for="name">Full name</label>
            <input type="text" required min="3" [(ngModel)]="order.name" name="full-name">

            <label for="address">Address</label>
            <input type="text" required min="6" [(ngModel)]="order.address" name="address">

            <label for="card">Credit card number</label>
            <input type="text" required min="16" max="16">

            <button 
                type="submit" 
                [disabled]="form.form.invalid" 
                >
                Submit
            </button>
        </form>
    <div class="empty-cart-message" *ngIf="cart.length === 0">
        <h3>Cart is empty</h3>
    </div>

</div>