<div class="cart-container">

    <div class="cart-item-details">
        <div class="cart-item" *ngFor="let item of cart">
                <img src="{{item.item.url}}" alt="{{item.item.name}}">
                <div class="cart-item-details ">
                    <h2>{{item.item.name}}</h2>
                    <p>${{item.item.price}}</p>
                    <label for="quantity">Amount: </label>
                    <input type="number" min="1" max="10" value="{{item.quantity}}" id="quantity" class="number-input">
                </div>
            
        </div>
    </div>

    <form class="form-margin">
        <label for="name">Full name</label>
        <input type="text">

        <label for="address">Address</label>
        <input type="text">

        <label for="card">Credit card number</label>
        <input type="text">

        <button type="submit">Submit</button>
    </form>

</div>